@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Outfit:wght@500&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  box-sizing: border-box;
}

body {
  background-color: #987EFF;
}

.parent-container{
  height: 80vh;
  width: 90%;
  margin: auto;
  margin-top: 80px;
  box-shadow: rgb(255,255,255) 0px 1px 5px, rgb(255,255,255) 0px 0px 0px 5px;
  border-radius: 20px;
}

.left{
  height: 80vh;
  width: 20%;
  background-color: #FFFFFF;
  box-shadow: rgb(255,255,255) 0px 1px 5px, rgb(255,255,255) 0px 0px 0px 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.userContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: #FFFFFF;
}

.userPicture{
  position: relative;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: rgb(152,126,255) 0px 1px 5px, rgb(152,126,255) 0px 0px 0px 5px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-size: cover; 
  background-position: center; 
  display: flex;
}

#imageInput {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; 
  cursor: pointer; 
}

.appName{
  background-color: transparent; 
  color:  black; 
  display: flex; 
  align-items: center; 
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;

}

.userName {
  background-color: transparent; 
  margin-left: 17px;
  color:  #987EFF; 
  display: flex; 
  align-items: center; 
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
  }
 
  
